/*font*/
@font-face {
  font-family: titel;
  src: url(fonts/Runners_bold.ttf);
}
@font-face {
  font-family: roboto;
  src: url(fonts/PG_RoofRunners.ttf);
}

/*text*/
h1{
  font-family: titel;
  margin-top: 0px;
  font-size: 90px;
  color: white;
  margin-bottom: 40px;
}
h2{
  color: white;
  font-family: titel;
}
h3{
  color: white;
  font-family: titel;
}
p{
  color: white;
  font-size: 20px;
  font-family: roboto;
  margin: 0px;
}
li{
  color: white;
  text-decoration: none;
  font-family: roboto;
}

/*allen text*/
body{
 background-image: url(fotos/blackboard.jpg);
 background-size: cover;
}
nav{
  font-family: titel;
  display: flex;
  justify-content: space-around;
  padding-left: 12%;
  padding-right: 12%;
  text-align: center;

}
a:link{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: white;
}
a:visited{
  text-decoration: none;
  color: white;
}
a:active{
  text-decoration: none;
  color: white;
}
header{
  text-align: center;
}
article{
  margin: auto;
  margin-top: 20px;
  margin-left: 50PX;
  margin-right: 50px;
}

/*home*/
article.hoofdtext{
  margin: auto;
  margin-top: 20px;
  margin-left: 50PX;
  margin-right: 50px;
  text-align: center;
}
article.hoofdtext img{
  width: 250px;
  height: auto;
}

/*over*/
article.inhoud{
  margin-top: 4%;
}
article.inhoud img{
  float: right;
  width: 350px;
  height: auto;
}
article.inhoud p{
  margin-top: 30px;
}


/*benodigdheden*/
article.benodigdheden img{
  float: left;
  width: 500px;
  height: auto;
}
article.benodigdheden h3{
  float: right;
  width: 50%;
  margin: 0px;
}
article.benodigdheden ul{
  float: right;
  width: 50%;
}

/*bereiding*/
article.bereiding img{
  float: right;
  width: 450px;
  height: auto;
}
